body {
    font-family: Arial, sans-serif;
    background-color: #e33a3a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 500px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.coracao {
    width: 30px; 
    margin: 0 10px; 
}

h1 {
    color: #ff6b6b;
}

button {
    background-color: #ff6b6b;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #ff4949;
}

#resultado {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}